<?xml version='1.0' encoding='utf-8'?>
<settings>
  <run_mode>fixed source</run_mode>
  <particles>100000</particles>
  <batches>300</batches>
  <source strength="1.0">
    <space origin="0.0 0.0 0.0" type="cylindrical">
      <r parameters="0 10" type="uniform" />
      <phi parameters="0 6.283185307179586" type="uniform" />
      <z parameters="85 90" type="uniform" />
    </space>
    <angle type="isotropic" />
    <energy parameters="14100000.0 40000.0" type="normal" />
  </source>
  <output>
    <tallies>false</tallies>
  </output>
  <photon_transport>true</photon_transport>
</settings>
